*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#inicio{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

#juego{
    display: none;
}
.centro{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

